<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="static/ronb.png" type="image/png">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html">
        <meta name="language" content="English">
        <meta name="author" content="@sidbelbase">
        <meta name="title" content="All updates are sent to t.me/updatesfromronb">
        <meta name="description" content="Just the usual updates from Routine Of Nepal Banda in Telegram Channel.">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
        <title>Routine Of Nepal Banda | Telegram Channel | @updatesfromronb</title>
    </head>

    <body>
        <h3 style="text-align:center; margin-top: 48vh;">Coded with ❤️ by <strong>sidbelbase</strong>.</h3>
        {% for tweet in tweets %}
        {{tweet.tweet}}<br>
        {% endfor %}
    </body>

</html>